<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
  <title>Каталог туров</title>
</head>
<body>
  <header id="catalog">
    <br><br>
    <h2 class="tours">Каталог туров</h2>
    <div class="tour-cards">
        {% for tour in tours %}
            <div class="tour-card">
                <h3>Название туров: {{ tour.name }}</h3>
                <h3>Цена: {{ tour.price }} Р</h3>

                <form action="/add_to_delayed/{{tour.id}}" method="post">
                    <input type="hidden" name="tour_id" value="{{ tour.id }}">
                    <button type="submit">Добавить в Избранное</button>
                </form>

                <form action="/add_to_booking/{{tour.id}}" method="post">
                    <input type="hidden" name="tour_id" value="{{ tour.id }}">
                    <button type="submit">Забронировать</button>
                </form>
            </div>
            <br>
        {% endfor %}
    </div>
  
  </header>
</body>
</html>

<!-- <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for tour in tours %}
        <div class="col">
          <div class="card shadow-sm">
            <img src=" {{ url_for('static',filename='images/1.jpeg') }}">
            <div class="card-body">
              <p class="card-text">{{ tour.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form action="/article/{{ tour.name }}" method="POST">
                  <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                  </form>
                </div>
                <small class="text-body-secondary">{{tour.price}}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div> -->


<!-- <div id="b6601" class="block-wrapper block-yt-catalog-trips">
    <div class="main-page block-landing g-pt-auto g-pb-3" style="--bg: ;--bg-url: ;--bg-url-2x: ;--bg-overlay: ;--bg-size: ;--bg-attachment: ;">
        <div class="main-page__block">
            <div class="content">
                <div class="block-landing__info">
                    <div class="block-landing__header">
                        <h2 class="block-landing__title landing-block-node-title">Выберите свой индивидуальный тур</h2>
                        <a href="https://youtravel.me/tours/?is_period_strict=1&amp;currency=rub&amp;lang=ru&amp;available_spaces=1&amp;only_private=1&amp;sort_by=rank&amp;sort_dir=desc" class="block-landing__more_tours landing-block-node-top-link" target="_blank">Посмотреть все туры</a>
                    </div>
                    <div class="block-landing__description landing-block-node-description">и адаптируйте его под свои пожелания</div>
                </div>
                <div class="landing-block-node-trips-filter js-filter-container hidden" data-show-filter="[]">
                    
        <div class="tours-header-banner js-tours-header-banner">
            <div class="tours-header-banner-rightblock">
                <div class="tours-header-banner-rightblock-first">
                    <div class="tours-header-banner-rightblock-top">
                        <div class="number-block">1</div>
                        <div class="line"></div>
                    </div>
                    <div class="tours-header-banner-rightblock-bottom">
                        <div class="tours-header-banner-rightblock-bottom-title">Выберите тур</div>

<div class="m365-popup m365-popup-showed" style="margin-top: 0px;">
<noindex>         
<div class="m365-form-content" style="background: rgb(255, 255, 255);">      -->
<!-- <div class="m365-logo-container"> -->
<!--https://youtravel.me/tours/?is_period_strict=1&currency=rub&lang=ru&available_spaces=1&only_private=1&sort_by=rank&sort_dir=<desc-->